{% extends 'base.html' %}

{% block title %} Create a User {% endblock %}}

{% block content %}

    <h1>Edit a User</h1>
    <form method="POST">
        <label for="first_name">First Name</label><br>
        <input type="text" name="first_name" placeholder="Enter a first name" value="{{ user.first_name }}"><br>
        <label for="last_name">Last Name</label><br>
        <input type="text" name="last_name" placeholder="Enter a last name" value="{{ user.last_name }}"><br>
        <label for="image_url">Image URL</label><br>
        <input type="text" name="image_url" placeholder="Provide an image of this user"  value="{{ user.image_url }}"><br>
        <a href="/users" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
    </form>

  {% endblock %}