<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Create a User</title>
</head>

<body>
    <h1>Create a User</h1>
    <form method="POST">
        <label for="first_name">First Name</label><br>
        <input type="text" name="first_name" placeholder="Enter a first name"><br>
        <label for="last_name">Last Name</label><br>
        <input type="text" name="last_name" placeholder="Enter a last name"><br>
        <label for="image_url">Image URL</label><br>
        <input type="text" name="image_url" placeholder="Provide an image of this user"><br>
        <button class="btn btn-success">Add</button>
      </form>
 
</body>

</html>