<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
  
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pets</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">All Pets</a>
        </div>
      </div>
    </div>
  </nav>


  <div class="container">

  {% block content %}
  <!-- content goes here -->
  {% endblock %}

</div>

</body>
</html>