.Cupcake-img {
    max-width: 200px;
    max-height: 200px;
  }

  h1, h2, form{
    margin: 20px;
  }


  div {
    margin: 20px;
  }

  .delete-button{
    background-color: #FF7F7F;
    color: white;
  }

  .cupcake-div{
    background-color: #FEF7F0;
  }