<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forex</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
 <h2>Currency Converter</h2>

 <form id="forex-form" method="POST">
   <div>
     <label for="input1">Converting from </label>
     <input class="form-control" name="input1" id="input1">
   </div>
 
   <div>
     <label for="input2">Converting to</label>
     <input class="form-control" name="input2" id="input2">
   </div>
 
   <div>
     <label for="amount">Amount</label>
     <input class="form-control" name="amount" id="amount">
   </div>
 
   <input type="submit" class="btn btn-primary" value="Convert!">
 </form>
</div>

</body>
</html>